.App {
    text-align: center;
}

.App-header {
    background-color: #263238;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.border {
    border: 1px solid #263238;
}

.flex-start {
    display: flex;
    align-content: flex-start;
    padding-left: 15px;
}

.flex-end {
    display: flex;
    align-content: flex-end;
}

.green {
    color: green;
}

.red {
    color: red;
}

.icon {
    align-self: center;
    padding-right: 5px;
    padding-left: 10px;
    padding-bottom: 2px;
}

.multiCell {
    display: flex;
    flex-direction: row;
    margin: -20px;
}

.containerWrapper {
    background: white;
    height: auto;
    margin: 20px;
    position: center;
}

.tableContainerWrapper {
    margin-bottom: 40px;
}

th.tableHeadCell {
    text-align: left;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 1px;
    white-space: nowrap;
    background: #311b92;
    font-weight: bold;
    font-size: medium;
    color: aliceblue;
    border: 1px solid white;
}

.tableBodyRow:nth-of-type(odd) {
    background-color: #cfd8dc;
}

.tableBodyCell {
    text-transform: capitalize;
}

.spinner {
    display: compact;;
    margin: 100px;
    border-color: red;
}
